body{
    color: rgb(0, 255, 247);
    background: linear-gradient(red, orange,yellow,rgb(0, 255, 0),aqua,rgb(149, 0, 255),violet);
    text-align: center;
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px rgb(255, 255, 255);
    width: 350px;
    height: 300px;
}